{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron">
    <img class="pull-right" src="https://image.eveonline.com/Character/{{ current_user.id }}_256.jpg" alt=""/>
    <h1>Welcome to SlackInSpace</h1>
    <p>You are now signed in as {{ current_user.name }}</p>
    <p>If you do not see your corp/alliance listed below please wait a short period of time and refresh this page</p>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-md-6">{% if current_user.get_corp_name() %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{ current_user.get_corp_name() }}</h3></div>
            <div class="panel-body">
                <img src="https://image.eveonline.com/Corporation/{{ current_user.corporation.id }}_128.png" class="pull-right" alt=""/>
                {% if current_user.corporation.team %}
                {% with membership = current_user.membership(current_user.corporation.team) %}
                <p><b>Slack Team</b>: {{ current_user.corporation.team.name }}</p>
                <p><b>Slack URL</b>: <a href="https://{{ current_user.corporation.team.subdomain }}.slack.com/">https://{{ current_user.corporation.team.subdomain }}.slack.com/</a></p>
                {% if membership %}
                <p><b>E-Mail</b>: {{ membership.email_address }}</p>
                {% endif %}
                <br>
                <p>
                    {% if membership %}
                    <a href="https://{{ current_user.corporation.team.subdomain }}.slack.com/messages" class="btn btn-primary btn-lg">Go To</a>
                    {% else %}
                    <a href="{{ url_for('join_team', id=current_user.corporation.team.id) }}" class="btn btn-primary btn-lg">Get Invite</a>
                    {% endif %}
                </p>
                {% endwith %}
                {% else %}
                <i>There is no team configured for {{ current_user.corporation.name }}</i>
                {% endif %}
            </div>
        </div>
    </div>{% endif %}

    <div class="col-md-6">{% if current_user.get_alliance_name() %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{ current_user.get_alliance_name() }}</h3></div>
            <div class="panel-body">
                <img src="https://image.eveonline.com/Alliance/{{ current_user.corporation.alliance.id }}_128.png" class="pull-right" alt=""/>
                {% if current_user.corporation.alliance.team %}
                {% else %}
                <i>There is no team configured for {{ current_user.corporation.alliance.name }}</i>
                {% endif %}
            </div>
        </div>
    </div>{% endif %}
</div>
{% endblock %}