{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to SlackInSpace</h1>
    <p>SlackEden helps you to manage your access to Slack Teams for your EVE Online corporations and alliances</p>
    <p>Log in with EVE SSO - You will be securely redirected to the EVE Online login page, where you can sign in</p>
    <p>Once signed in, you will be able to view teams you have access to, and request invites where needed</p>
</div>
{% endblock %}